.hospital {
    width: 2.5em;
    height: 2.5em;
    display: inline-block;
    background-image: url('../../imgs/hos.png');
    transform: scale(1.2);
    background-repeat: no-repeat;
    background-size: contain;
}

.grass {
    width: 2.5em;
    height: 2.5em;
    display: inline-block;
    background-image: url('../../imgs/grass_final.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.report {
    width: 2.5em;
    height: 2.5em;
    display: inline-block;
    background: url('../../imgs/boulder.png') 0 0 no-repeat;
    transform: translateY(10px);
    background-repeat: no-repeat;
    background-size: contain;
}

.lady {
    width: 2.5em;
    height: 2.5em;
    display: inline-block;
    background-image: url('../../imgs/lady_temp.png');
    background-repeat: no-repeat;
    background-size: contain;
}

p {
    margin-left: 2em;
    margin-right: 2em;
    color: #523A28;
    font-weight: 600;
}



a {
    color: black;
    font-weight: 800;
}

.underline {
    text-decoration: underline;
}