/* .grid {
    margin: 1em 0 0;
} */

* {
    /* background-image: url('https://images.pexels.com/photos/129731/pexels-photo-129731.jpeg?auto=compress&cs=tinysrgb&w=600'); */
    /* background: url('https://images.pexels.com/photos/129731/pexels-photo-129731.jpeg?auto=compress&cs=tinysrgb&w=600'); */
    /* -webkit-background-size: cover; */
    /* -moz-background-size: cover; */
    /* -o-background-size: cover; */
    background-color: rgb(247, 212, 148);
    background-size: cover;
}

.header {
    height: 3em;
    /* width: 5em; */
    color: #523A28;
    font-weight: 600;
    cursor: pointer;
}